@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@import 'normalize';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Kalam', cursive, sans-serif;
    background-color: gray;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}

// Main
#app {
    // outline: 2px dashed red;
    background-color: rgb(255, 219, 102);
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: 1% auto;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.left-page {
    width: 50%;
    border-right: 2px dashed black;
}

.right-page {
    width: 50%;
}

h1 {
    flex: 1 1 100%;
    border-bottom: 2px dotted black;
    margin: 1.5rem;
    text-align: center;
}

.stats {
    // outline: 2px dashed yellow;
    padding-top: 4%;
    &__title {
        margin: 0 5%;
    }
}

.task {
    // outline: 2px solid red;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5%;
    &__done {
        padding: 0;
        margin: 0 5% 5% 5%;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        background-color: orange;
        border-color: black;
        transition: all .5s ease-in;
        outline: none;
        &:hover {
            background-color: greenyellow;
        }
    }
    &__text {
        margin: 5%;
    }
    &__title {
        margin: 0;
    }
    &__desc {
        margin: 0;
    }
    &__remove {
        padding: 0;
        margin: 0 5% 5% 0;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        background-color: orange;
        border-color: black;
        transition: all .5s ease-in;
        outline: none;
        &:hover {
            background-color: pink;
        }
    }
}

input {
    margin: 1% 5%;
    background-color: #fff;
    width: 90%;
}

textarea {
    margin: 1% 5%;
    width: 90%;
    height: 200px;
    max-width: 90%;
}

.add_task__btn {
    margin: 1% 5% 5% 5%;
    width: 90%;
    height: 25px;
    background-color: #fff;
    border: 1px solid gray;
    outline: none;
    transition: all .5s ease-in-out;
    &:hover {
        background-color: greenyellow;
    }
}

.link {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(168, 90, 0) 50%, rgb(255, 166, 32) 100%);
    text-decoration: none;
    color: blanchedalmond;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 6rem;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 20px 20px 0;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
}
